.tipsCards {
  background-color: rgba(252, 136, 112, 0.5);
  padding: 1em;
  margin: 0.6em;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-items: center;
  height: 5em;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0px solid #000000;
}
.tip-card-div {
  margin: auto;
  padding: 1em;
}
.tip-heading {
  text-emphasis: none;
}
.tips_header {
  font-family: "Didact Gothic", sans-serif;
  padding: 2%;
  margin: 0;
  display: flex;
  background-color: rgb(252, 113, 85);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}
